@import 'settings/reset';
@import 'settings/variables/0-material-design-color-palette';
@import 'settings/variables/1-flat-ui-color-palette';
@import 'settings/variables/color';
@import 'settings/modules/hover/hover';
// @import 'settings/functions/';
// @import 'settings/mixins/';
// @import 'settings/modules/';
// @import 'settings/helpers/';
// @import 'url(//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css)';
// @import 'url(//fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,100italic,100,500,500italic,700,700italic,900,900italic)';;
@import 'atomic/molecules/dialog';

p {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.wrapper > * {
  padding: 10px;
}

.header {
  flex-basis: 100%;
}

.aside {
  flex-basis: 30%;
}

.main {
  flex-basis: 70%;
}

.footer {
  flex-basis: 100%;
}

.hide {
  display: none;
}

.completed {
  text-decoration: line-through;
}


.category-list {
  display: flex !important;
  justify-content: space-between;
  &.active {
    background-color: #eee;
  }
  .name {
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    flex-basis: 90%;
  }
  .count {
    flex-basis: auto;
    margin-right: 10px;
  }
  .category-edit {
    flex-basis: auto;
    font-size: 17px;
  }
}

.tasks-form {
  display: flex;
  margin-bottom: 10px;
  .tasks-form-text {
    flex-basis: 80%;
    margin-right: 10px;
    margin-bottom: 0px;
  }
  .tasks-form-submit {
    flex-basis: 20%;
  }
}

.task {
  display: flex;
  justify-content: space-between;
  .task-left {
    flex-basis: 30px;
  }
  .task-center {
    flex-basis: auto;
    position: absolute;
    left: 50px;
  }
  .task-right {
    flex-basis: 30px;
  }
}

.hvr-icon-push {
  padding-right: 0;
  &:before {
    content: '\e628';
    font-family: 'Flat-UI-Icons';
    position: static;
  }
}
