// Flat UI colors http://designmodo.github.io/Flat-UI/
$turquoise: #1ABC9C; // TURQUOISE
$green-sea: #16A085; // GREEN SEA
$emerald: #2ECC71; // EMERALD
$nephritis: #27AE60; // NEPHRITIS
$peter-river: #3498DB; // PETER RIVER
$belize-hole: #2980B9; // BELIZE HOLE
$amethyst: #9B59B6; // AMETHYST
$wisteria: #8E44AD; // WISTERIA
$wet-asphalt: #34495E; // WET ASPHALT
$midnight-blue: #2C3E50; // MIDNIGHT BLUE
$sun-flower: #F1C40F; // SUN FLOWER
$orange: #F39C12; // ORANGE
$carrot: #E67E22; // CARROT
$pumpkin: #D35400; // PUMPKIN
$alizarin: #E74C3C; // ALIZARIN
$pomegranate: #C0392B; // POMEGRANATE
$clouds: #ECF0F1; // CLOUDS
$silver: #BDC3C7; // SILVER
$concrete: #95A5A6; // CONCRETE
$asbestos: #7F8C8D; // ASBESTOS
